{% extends "index.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<div class="register-section">
    <div class="register-card">

        <h3 class="register-title">Register Here</h3>

        <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Username</label>
                {{ form.username }}
            </div>

            <div class="mb-3">
                <label class="form-label">Email</label>
                {{ form.email }}
            </div>

            <div class="mb-3">
                <label class="form-label">Password</label>
                {{ form.password1 }}
            </div>

            <div class="mb-3">
                <label class="form-label">Confirm Password</label>
                {{ form.password2 }}
            </div>

            <button type="submit" class="btn btn-register w-100 mt-3">
                Register
            </button>
        </form>

        <div class="register-footer">
            Already have an account? <a href="{% url 'login' %}">Login Here</a>
        </div>

    </div>
</div>

{% endblock %}
