{% extends 'index.html' %}
{% block content %}

<div class="container mt-4">
    <h2>My Products</h2>

    <div class="row">
        {% for product in products %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">

            {% if product.image %}
                <img src="{{ product.image.url }}" class="card-img-top">
            {% endif %}

            <div class="card-body text-center">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">Price: Rs{{ product.price }}</p>
                {%if product.user == user%}
                <a class = "btn btn-primary"  href="{%url 'product_edit' product.id%}">Edit </a>
                <a class = "btn btn-danger"  href="{%url 'product_delete' product.id%}">Delete</a>
                {%endif%}

            </div>

        </div>
    </div>
{% empty %}
    <p>You haven't added any products yet.</p>
{% endfor %}
    </div>
</div>

{% endblock %}
