{% extends "index.html" %}

{% block title %}
Products
{% endblock %}

{% block content %}

<h1 class="mb-4">All Products</h1>



<a class = "btn btn-primary mb-4" href =" {%url 'product_create' %} "> Sell Product </a>

<div class="row">

{% for product in products %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">

            {% if product.image %}
                <img src="{{ product.image.url }}" class="card-img-top">
            {% endif %}

            <div class="card-body text-center">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">Price: Rs{{ product.price }}</p>
                <a class = "btn btn-success"  href="">Buy</a>
                <a class = "btn btn-warning "  href="">Add to Cart 🛒</a><br><br>
                {%if product.user == user%}
                <a class = "btn btn-primary"  href="{%url 'product_edit' product.id%}">Edit </a>
                <a class = "btn btn-danger"  href="{%url 'product_delete' product.id%}">Delete</a>
                {%endif%}

            </div>

        </div>
    </div>
{% empty %}
    <p>No products found.</p>
{% endfor %}

</div>

{% endblock %}
